@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --primary-default: #79bec1;
  --primary-light: #acdee0;
  --primary-lighter: #def5f6;
  --primary-dark: #4b979b;
  --primary-darker: #2f8083;
  --secondary-default: #ffe09f;
  --secondary-light: #ffecc3;
  --secondary-lighter: #fff7e6;
  --secondary-dark: #ffd47b;
  --secondary-darker: #d9ab4d;
}

body {
  background-color: var(--primary-lighter);
}

header {
  background-color: var(--secondary-lighter);
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, 0);
  grid-template-rows: 0.5fr repeat(2, 1fr) repeat(2, 0);
  gap: 0;
}

.registerBanner {
  grid-area: 1 / 1 / 2 / 3;
}
.registerMessage {
  grid-area: 2 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
}
.registerForm {
  grid-area: 2 / 2 / 5 / 3;
}

.grow-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loginBanner {
  grid-area: 1 / 1 / 2 / 3;
}
.loginMessage {
  grid-area: 2 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
}
.loginForm {
  grid-area: 2 / 1 / 5 / 2;
}

.innerShadowTitleTerms {
  font-weight: 800;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--primary-dark);
}

.innerShadowSubTitleTerms {
  font-weight: 600;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--primary-dark);
}

.innerShadowDescriptionTerms {
  font-weight: 700;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--secondary-darker);
}

@media (max-width: 768px) {
  .formGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
  }

  .registerBanner {
    grid-area: 1 / 1 / 2 / 2;
  }
  .registerMessage {
    grid-area: 2 / 1 / 4 / 2;
  }
  .registerForm {
    grid-area: 4 / 1 / 6 / 2;
  }
}

@media (max-width: 480px) {
  .formGrid {
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
  }
}

.gm-style-iw {
  padding: 2 !important;
  margin: 0 !important;
}

.gm-style-iw-d {
  padding: 0 !important;
  margin: 0 !important;
}

.gm-style-iw-chr {
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 0 !important;
  height: 10px !important;
}

.gm-style-iw-t {
  padding: 0 !important;
  margin: 0 !important;
}

.gm-style-iw-a {
  padding: 0 !important;
  padding-top: 0 !important;
  margin: 0 !important;
}

.responsive-font {
  font-size: clamp(24px, 3vw + 1rem, 48px);
  margin: auto;
}
